.venv/
.vscode/
.postgres_data/
minio_data/
.env*
# *.mp4
!Forward-server/.env.development
!Forward-client/
!Forward-client/.env.development
!Forward-client/
Forward-server/staticfiles/*
!Forward-server/staticfiles/custom
!Forward-server/staticfiles/custom/*