services:
  backend:
    #image: FORWARD/django
    build: ./Forward-server
    depends_on:
      - database
    volumes:
      - ./Forward-server:/app/server
    ports:
      - "127.0.0.1:8000:8000"
    develop:
      watch:
        - path: ./Forward-server/requirements.txt
          action: rebuild
      
  frontend:
    #image: FORWARD/frontend
    build: ./Forward-client
    volumes:
      - ./Forward-client:/app/server
      - /app/server/node_modules
    ports:
      - "127.0.0.1:5173:5173"
    links:
      - backend
    develop:
      watch:
        - path: ./Forward-client/package.json
          action: rebuild

  database:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: forward_db
    volumes:
      - .postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio
    volumes:
      - ./minio_data:/data #local volume mount
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001" # web console port
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"