services:
  backend:
    image: FORWARD/django
    build: ./Forward-server
    volumes:
      - ./Forward-server:/app/server
    ports:
      - "127.0.0.1:8000:8000"

  frontend:
    image: FORWARD/frontend
    build: ./Forward-client
    volumes:
      - ./Forward-client:/app/server
      - /app/server/node_modules
    ports:
      - "127.0.0.1:5173:5173"
    links:
      - backend


  minio:
    image: minio/minio
    volumes:
      - minio_data:/data #docker managed instead of project folder
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001" # web console port
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"

volumes:
  minio_data:
