services:
  backend:
    image: FORWARD/django
    build: ./Forward-server
    depends_on:
      - database
    volumes:
      - ./Forward-server:/app/server
    ports:
      - "127.0.0.1:8000:8000"

  frontend:
    image: FORWARD/frontend
    build: ./Forward-client
    volumes:
      - ./Forward-client:/app/server
      - /app/server/node_modules
    ports:
      - "127.0.0.1:5173:5173"
    links:
      - backend

  database:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: forward_db
    volumes:
      - .postgres_data:/var/lib/postgresql/data
    #ports:
    #  - "5432:5432"