
body{
  background-color: var(--color-gray-100);
  margin: 0px;
}

button {
  cursor: pointer;
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
}